<section class="step-indicator">
    <div class="step-indicator__container _container">
        <img class="step-Indicator-img" src="img/step4ell.png" alt="img">
        <div class="step_Indicator__container-first">
            <div class="step_Indicator__container-first-amazon">
                @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"/img/productimg8.png","title":"Traditional dish","price":"40.60 €"})
            </div>
            @@include('../../uikit/StepBlock/_index.html',{"image":"/img/imgCard1.png","step":"Step 1","text":"We search and evaluate the products. We discuss the sales strategy","text1":"We carefully research and evaluate your products to ensure they are ready for market success. We discuss together the ideal sales strategy, adapted to the specifics of each product, to maximize the chances of success and attract as many customers as possible.","btn":"Următorul pas"})
        </div>
        <div class="step_Indicator__container-img">
            <img class="step_Indicator__container-img__ellipse" src="/img/step2ell.png" alt="img">
            <div class="step_Indicator__container-delivery">
                <div class="step_Indicator__container-delivery-img">
                    <img src="/img/delivery.png" alt="img">
                </div>
                <span>Fast  Delivery</span>
                <p>Our service ensures that your packages arrive quickly</p>
            </div>
            @@include('../../uikit/StepBlock2/_index.html',{"image":"/img/imgCard.png","step":"Step 2","text":"We handle Amazon account creation and product listing.","text1":"We handle the entire process of creating your Amazon account and listing your products. We ensure the correct initial settings, optimize descriptions and images so that your products are visible and attractive to potential buyers.","btn":"Next step"})
        </div>
        <div class="step_Indicator__container-first  second">
            <img class="step_Indicator__container-img_abs" src="/img/step3ell.png" alt="img">
            <img class="step_Indicator__container-img_abs-two" src="/img/tarifimg.png" alt="img">
        <div class="step_Indicator__container-first-amazon">
                @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"/img/amazonimg7.png","title":"Handmade Doll ","price":"12.50 €"})
            </div>
        @@include('../../uikit/StepBlock/_index.html',{"image":"/img/stepimg4.png","step":"Step 3","text":"We manage inventory and logistics","text1":"We handle inventory and logistics to ensure your products are always available and delivered promptly. From inventory to shipping, we make sure everything runs smoothly so you can focus on growing your business.","btn":"Next step"})
        </div>
        <div class="step_Indicator__container-second">
            <div class="step_Indicator__container-second-amazon">
                @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"/img/amazonimg7.png","title":"Handmade Doll ","price":"12.50 €"})
            </div>
            <img class="step_Indicator__container-second-img" src="/img/stepell.png" alt="img">
            @@include('../../uikit/StepBlock2/_index.html',{"image":"/img/steimg3.png","step":"Step 4","text":"We track performance and optimize sales","text1":"We constantly monitor the performance of your products and adjust sales strategies to maximize results. We analyze sales data and customer feedback to optimize listings and increase the visibility and appeal of your products on Amazon.","btn":"Become a partner"})
        </div>
    </div>
</section>