<section class="easy_export">
    <div class="easy_export__container _container">
        <img class="easy_export__container-circle-img" src="/img/circleeasy.png" alt="img">
        <img class="easy_export__container-circle-img1" src="/img/ellipsered.png" alt="img">
        <img class="easy_export__container-circle-img2" src="/img/circleeasy1.png" alt="img">
        <span class="easy_export__container-span">HOW IT WORKS</span>
        <h4>The easiest way to sell abroad</h4>
        <p>Don't let distance stop you from reaching millions of customers across the United States! Contact us today and let's together bring the beauty and uniqueness of your handmade products into the homes of American customers.</p>
        <div class="easy_export__container-items">
            <div class="easy_export__container-item">
                <span class="easy_export__container-item-circle"></span>
                <p class="easy_export__container-item-p">Experience and Professionalism</p>
                <span>We have an experienced team in online sales and know the US market well.</span>
            </div>
            <div class="easy_export__container-item">
                <img src="/img/easyimg.png" alt="img">
                <p class="easy_export__container-item-p">Accessibility</p>
                <span>We make the process of selling on Amazon as simple and accessible as possible for you.</span>
            </div>
            <div class="easy_export__container-item">
                <span class="easy_export__container-item-circle1"></span>
                <p class="easy_export__container-item-p">Full Services</p>
                <span>We take care of the entire process from A to Z so you don't have to worry about anything.</span>
            </div>
        </div>
    </div>
</section>