<section class="easy-export">
    <div class="easy-export__container _container">
        <div>
        <img src="img/circleeasy.png" alt="img">
        <img src="img/ellipsered.png" alt="img">
        <img src="img/circleeasy1.png" alt="img">
        </div>
        <span>HOW IT WORKS</span>
        <h4>The easiest way to sell abroad</h4>
        <p>Don't let distance stop you from reaching millions of customers across the United States! Contact us today and let's together bring the beauty and uniqueness of your handmade products into the homes of American customers.</p>
        <div class="easy-export-items">
            <div>
                <span class="easy-export-purple"></span>
                <p>Experience and Professionalism</p>
                <span>We have an experienced team in online sales and know the US market well.</span>
            </div>
            <div >
                <img src="img/easyimg.png" alt="img">
                <p>Accessibility</p>
                <span>We make the process of selling on Amazon as simple and accessible as possible for you.</span>
            </div>
            <div>
                <span class="easy-export-red"></span>
                <p>Full Services</p>
                <span>We take care of the entire process from A to Z so you don't have to worry about anything.</span>
            </div>
        </div>
    </div>
</section>