<section class="team">
  <div class="team__container _container">
    <img class="team__container-ellipsee-team" src="/img/ellipseteam.png" alt="img">
    <img class="team__container-circle-team" src="/img/circleteam.png" alt="img">
    <h4>Your <span>team</span></h4>
    <p>
      We are a dedicated and passionate team focused on the success of our
      clients and providing the highest quality service. Together, we work to
      realize our vision and bring innovative solutions to the global market.
    </p>
    <div class="team__container-workers">
      <div class="team__container-workers-card">
        <img src="/img/girl2.png" alt="img" />
        <span>Andra Johannes</span>
        <span>CEO, Marketing</span>
      </div>
      <div class="team__container-workers-card">
        <img src="/img/girl1.png" alt="img" />
        <span>Cristina Swinke</span>
        <span>Product Placement</span>
      </div>
      <div class="team__container-workers-card-active">
        <img src="/img/girl3.png" alt="img" />
        <span>Nadie Johennberg</span>
        <span>Logistics and Accounting</span>
      </div>
    </div>
    <img class="team__container-circle-team_second" src="/img/circleteam1.png" alt="img">
  </div>
</section>
