<section class="succsess">
  <div class="succsess__container _container">
    <img class="succsess-img" src="img/elipsesuccses.png" alt="img" />
    <div class="succsess-top">
      <h2>Success stories</h2>
      <h5>
        We are proud of our customers' success. Find out how we've helped
        businesses like yours bring their handmade products to the US market and
        increase sales on Amazon. Every success story is a testament to our
        dedication and expertise.
      </h5>
      <div class="succsess-buttons">
        <div class="success-button">
  <button>Handmade</button>
  <button>Ceramic</button>
  <button>Textile</button>
  <button>Paper</button>
  <button>Various</button>
</div>

        <div>
          <button><img src="img/arrowleft.png" alt="img" /></button>
          <button><img src="img/arrowright.png" alt="img" /></button>
        </div>
      </div>
      <div class="succsess-items">
        <div class="succsess-card">
  <img class="succsess__container-items-card-img" src="/img/succsesim2.png" alt="img" />
  <span>12/05/2024</span>
  <h4 class="@@activeh4 @@activeh3">Artisan from Oslo</h4>
  <p> Maria, an artisan from Oslo, created unique handmade jewelry, but had difficulty expanding her business internationally.</p>
  <div class="succsess__buttons">
    <button class="@@classs">Tariff PRO</button>
    <button>
      Find out more
    </button>
    <img class="button__img" src="/img/succsesim1.png" alt="img" />
  </div>
</div>

        <div class="succsess-card">
  <img class="succsess__container-items-card-img" src="/img/succsesim.png" alt="img" />
  <span>12/05/2024</span>
  <h4 class="@@activeh4 activeh3">Craftsmen from Dorotea</h4>
  <p>A group of craftsmen from Dorotea wanted to sell their traditional handicrafts outside of Norway , but they didn't know where to start.</p>
  <div class="succsess__buttons">
    <button class="@@classs">Tariff PRO</button>
    <button>
      Find out more
    </button>
    <img class="button__img" src="/img/succsesim1.png" alt="img" />
  </div>
</div>

        <div class="succsess-card">
  <img class="succsess__container-items-card-img" src="/img/succsesim2.png" alt="img" />
  <span>12/05/2024</span>
  <h4 class="activeh4 @@activeh3">Furniture Maker</h4>
  <p>Alex, a designer of handmade furniture, wanted to tap into the American market but faced logistical and marketing challenges.</p>
  <div class="succsess__buttons">
    <button class="succsess__container-items-active">Tariff PRO</button>
    <button>
      Find out more
    </button>
    <img class="button__img" src="/img/succsesim1.png" alt="img" />
  </div>
</div>

      </div>
    </div>
    <button class="succsess-button">Discover  more cases <img src="img/successbtnimg.png" alt="img"></button>
  </div>
</section>
