<section class="amazon-item">
    <div class="amazon-item__container _container">
        <img class="amazon-img" src="img/amazonback.png" alt="img">
        <div class="amazon-items">
            @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"img/amazonimg7.png","title":"Handmade doll","price":"$40.60"})
            @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"img/productimg8.png","title":"National plate ","price":"$40.60"})
            @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"img/productimg1.png","title":"Funny bag","price":"$40.60"})
            @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"img/productimg3.png","title":"Handmade plate","price":"$40.60"})
            @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"img/amazonimg5.png","title":"Toys","price":"$40.60"})
            @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"img/productimg2.png","title":"Home decoration","price":"$40.60"})
            @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"img/amazonimg6.png","title":"Decoration wood","price":"$40.60"})
        </div>
    </div>
</section>