<section class="support">
  <div class="support__container _container">
    <div class="support__left-block">
      <span class="support__left__left-block__span"
        >Easier impossible<img src="/img/strawberry.png" alt="img"
      /></span>
      <h1>Sell your products on Amazon with</h1>
      <span class="support__left-block-span">with our help</span>
      <p>
        We turn manufacturers' dreams into reality, from Amazon<br>listing to
        logistics management and creation<br>LLC in USA. Let us take care of all
        the details!
      </p>
      <div class="support__container__button-block">
        <button class="uikit__button">Become a partner</button>
        <div class="support__container__button-block-right">
          <button class="support__container__button-block-right-button">
            <img src="/img/button-play.png" alt="img" />
          </button>
          <span>Find out how it works</span>
        </div>
      </div>
    </div>
    <div class="support__right-block">
      <div class="support__right-block-button">
        <button class="position_button">
    <img src="/img/alarm.png" alt="img">
    <div class="position_button-text">
        <p>Express</p>
        <span>24h</span>
    </div>
    <p class="title">Express</p>
</button>
      </div>
        <img class="support__right-block-location_info" src="/img/abstract.png" alt="img">
      <img src="/img/amazonImg.png" alt="img" />
      <div class="support__right-block__left-item">
        <div class="product-item">
    <img src="/img/productimg8.png" alt="img">
    <h5>Home made plate</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
      </div>
      <div class="support__right-block__right-block">
        <div class="product-item">
    <img src="/img/productimg3.png" alt="img">
    <h5>Handbag made with love</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
      </div>
    </div>
  </div>
</section>
