<section class="amazon-item">
    <div class="amazon-item__container _container">
        <img class="amazon-img" src="img/amazonback.png" alt="img">
        <div class="amazon-items">
            <div class="product-item">
    <img src="img/amazonimg7.png" alt="img">
    <h5>Handmade doll</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
            <div class="product-item">
    <img src="img/productimg8.png" alt="img">
    <h5>National plate </h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
            <div class="product-item">
    <img src="img/productimg1.png" alt="img">
    <h5>Funny bag</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
            <div class="product-item">
    <img src="img/productimg3.png" alt="img">
    <h5>Handmade plate</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
            <div class="product-item">
    <img src="img/amazonimg5.png" alt="img">
    <h5>Toys</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
            <div class="product-item">
    <img src="img/productimg2.png" alt="img">
    <h5>Home decoration</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
            <div class="product-item">
    <img src="img/amazonimg6.png" alt="img">
    <h5>Decoration wood</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <img class="amazon-img" src="/img/amazonbutton.png" alt="img">
</div>
        </div>
    </div>
</section>