<section class="login">
  <div class="login__container _container">
    <div class="login__container-input">
      <h1>Log in</h1>
      @@include('../../uikit/Input/_index.html',{"title":"Email address","type":"text"})
      @@include('../../uikit/Input/_index.html',{"title":"Password","type":"password"})
      <span>Forget your password</span>
      @@include('../../uikit/button/_index.html',{"title":"Log in "})
      <div class="login__container__input-border"></div>
      <button class="login__container-input_select">English (united States) <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <g clip-path="url(#clip0_4001_59)">
    <path d="M7 10L12 15L17 10H7Z" fill="#333333"/>
  </g>
  <defs>
    <clipPath id="clip0_4001_59">
      <rect width="24" height="24" fill="white"/>
    </clipPath>
  </defs>
</svg></button>
    </div>
    <div class="login__conatiner-button">
      @@include('../../uikit/PositonButton/_index.html',{"title": "Fast acces","image":"/img/alarm.png"})
    </div>
    <img class="abstract" src="/img/abstract.png" alt="img">
    <img class="ellipse" src="/img/ellipse.png" alt="img">
    <img class="ellipse1" src="img/ellipse1.png" alt="img">
  </div>
</section>
