<section class="support">
  <div class="support__container _container">
    <div class="support__left-block">
      <span class="support__left__left-block__span"
        >Easier impossible<img src="/img/strawberry.png" alt="img"
      /></span>
      <h1>Sell your products on Amazon with</h1>
      <span class="support__left-block-span">with our help</span>
      <p>
        We turn manufacturers' dreams into reality, from Amazon<br>listing to
        logistics management and creation<br>LLC in USA. Let us take care of all
        the details!
      </p>
      <div class="support__container__button-block">
        @@include('../../uikit/button/_index.html',{"title":"Become a partner"})
        <div class="support__container__button-block-right">
          <button class="support__container__button-block-right-button">
            <img src="/img/button-play.png" alt="img" />
          </button>
          <span>Find out how it works</span>
        </div>
      </div>
    </div>
    <div class="support__right-block">
      <div class="support__right-block-button">
        @@include('../../uikit/PositonButton/_index.html',{"image":"/img/alarm.png" ,"title":"Express","time":"24h"})
      </div>
        <img class="support__right-block-location_info" src="/img/abstract.png" alt="img">
      <img src="/img/amazonImg.png" alt="img" />
      <div class="support__right-block__left-item">
        @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"/img/productimg8.png","title":"Home made plate","price":"$40.60"})
      </div>
      <div class="support__right-block__right-block">
        @@include('../../uikit/ProductItemAmazon/_index.html',{"image":"/img/productimg3.png","title":"Handbag made with love","price":"$40.60"})
      </div>
    </div>
  </div>
</section>
