<section class="dashboard">
  <div class="dashboard__container _container">
    <div class="dashboard-border"></div>
    <div class="dashboard-location">
      <button class="dashboard__container-active"><img src="img/default.png" alt="img" /><a href="/">Dashboard</a></button>
      <button><img src="img/chart.png" alt="img" /><a href="/">Tables</a></button>
      <button><img src="img/default4.png" alt="img" /><a href="/">Billing</a></button>
      <button><img src="img/default3.png" alt="img" /><a href="/">My products</a></button>
    </div>
    <div class="dashboard-payment">
      <div class="dashboard-payment_item">
        <div>
          <h3>Today’s Money</h3>
          <p>$53,000 <span>+55%</span></p>
        </div>
        <img src="img/default2.png" alt="img">
      </div>
      <div class="dashboard-payment_item">
        <div>
          <h3>Today’s Users</h3>
          <p>2,300 <span>+5%</span></p>
        </div>
        <img src="img/outline.png" alt="img">
      </div>
      <div class="dashboard-payment_item">
        <div>
          <h3>Total Sales</h3>
          <p>$173,000 <span>+8%</span></p>
        </div>
        <img src="img/default1.png" alt="img">
      </div>
    </div>
    <div class="dashboard-help">
        <img src="img/circle.png" alt="img">
        <h4>Need help?</h4>
        <p>Please check our docs</p>
        <button>DOCUMENTATION</button>
    </div>
  </div>
</section>
