<header class="header">
  <div class="header__container _container">
    <img src="img/logo.png" alt="img" />
       <ul>
        <li><a href="/" class="active">About us</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">How it works</a></li>
        <li><a href="/">Cases</a></li>
        <li><a href="/">Contact</a></li>
       </ul>
    <div class="header__buttons">
      <span></span>
      @@include('../../uikit/button/_index.html',{"title":"Create an account"})
      <img src="img/hamburger.png" alt="img" />
    </div>
  </div>
  <div class="burger-menu">@@include('../BurgerMenu/_index.html')</div>
</header>
