<section class="static-overview">
    <div class="static-overview__container _container">
        <h1>Sales Overview</h1>
        <span class="static-overview__container-span">(+5) more In 2021</span>
        <img class="static-overview__container-img" src="/img/Data.png" alt="img">
        <div class="static-overview__container-product">
            <h2>My products</h2>
            <div class="static-overview__container-product__card-block">
                <div class="static-overview__container-product__card">
                    <div class="product-item">
    <img src="/img/productimg1.png" alt="img">
    <h5>Farfurie tradițională</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <button>Edit</button>
</div>
                    <div class="product-item">
    <img src="/img/productimg3.png" alt="img">
    <h5>Farfurie tradițională</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <button>Edit</button>
</div>
                    <div class="product-item">
    <img src="/img/productimg2.png" alt="img">
    <h5>Farfurie tradițională</h5>
    <div class="product-item-border"></div>
    <p>$40.60</p>
    <span class="product-item-span">Free Shipping</span>
    <button>Edit</button>
</div>
                </div>
                <button class="static-overview__container-product__card-block-button">
                    <img src="/img/plus.png" alt="img">
                    Add a New Product
                </button>
            </div>
        </div>
    </div>
</section>