<section class="tariff">
  <div class="tariff__container _container">
    <img class="tariff__container-img-left" src="/img/tarifimg.png" alt="img">
    <img class="tariff__container-img-right" src="/img/tarifimg.png" alt="img">
    <h3>Tariff plans</h3>
    <p class="tariff__container-p">
      we offer two flexible pricing packages to suit your business needs:
      Starter and Pro
    </p>
    <div class="tariff__container-items">
      <div class="tariff__container-items-pro">
        <p class="tariff__container-items-pro-top">Pro <span>HOT</span></p>
        <p>For those who are ready to maximize their sales.</p>
        <h5>56€ <span> / month</span></h5>
        <div class="tariff__container-items-pro-border"></div>
        <ul>
          <li>
            <img src="/img/Check1.png" alt="img" />Unlimited products on Amazon
          </li>
          <li><img src="/img/Check1.png" alt="img" />Priority support</li>
          <li><img src="/img/Check1.png" alt="img" />Priority support</li>
          <li><img src="/img/Check1.png" alt="img" />Advanced management</li>
          <li>
            <img src="/img/Check1.png" alt="img" />Personalized strategies
          </li>
          <li><img src="/img/Check1.png" alt="img" />Detailed reporting</li>
        </ul>
        <button>Get Started</button>
      </div>
      <div class="tariff__container-items-starter">
        <div class="tariff__container-items-starter-top">
          <button>Monthly</button>
          <button>Annual <span></span></button>
        </div>
        <div class="tariff__container-items-starter-card">
          <h4>Starter</h4>
          <p>
            Ideal for those who are just starting out and want to test the US
            market.
          </p>
          <h5>34€ <span>/month</span></h5>
          <div class="tariff__container-items-starter-card-border"></div>
          <ul>
            <li><img src="/img/Check.png" alt="img" />Up to 10 products on Amazon</li>
            <li><img src="/img/Check.png" alt="img" />Email support</li>
            <li>
              <img src="/img/Check.png" alt="img" />Access to online guides and resources
            </li>
            <li><img src="/img/Check.png" alt="img" />Basic logistics</li>
            <li><img src="/img/Check.png" alt="img" />Inventory management</li>
          </ul>
          <button>Start now</button>
        </div>
      </div>
    </div>
  </div>
</section>
