<section class="product">
  <div class="product__container _container">
    <div class="product-border"></div>
    <h1>Give your products a name and description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisc.</p>
    <div class="product-inputs">
      <input type="text" placeholder="Product name" />
      <input type="text" placeholder="Price" />
    </div>
    <input type="area" placeholder="Description" />
    @@include('../../uikit/SuccsessButton/_index.html',{})
    <div class="product-img">
    <button><img src="img/plus.png" alt="img" /> Add a New Image </button>
    <button><img src="img/plus.png" alt="img" /> Add a New Image </button>
    <button><img src="img/plus.png" alt="img" /> Add a New Image </button>
    <button><img src="img/plus.png" alt="img" /> Add a New Image </button>
    </div>
    <div class="product-button ">
      @@include('../../uikit/button/_index.html',{"title":"Send to review"})
    </div>
  </div>
</section>
