.product {
  width: 100%;
  padding: 40px 20px;
  @media (max-width: 768px) {
    padding: 14px 20px;
  }
  .product__container {
    display: flex;
    flex-direction: column;
    .product__container-border {
      max-width: 596.259px;
      height: 1px;
      border: 1px solid rgba(224, 225, 226, 0.3);
      margin-bottom: 36.5px;
    }

    h1 {
      color: var(--Neutral-800, #170f49);
      font-feature-settings: "clig" off, "liga" off;
      max-width: 567px;
      font-family: "DM Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px; /* 145.833% */
      margin-bottom: 5.5px;
    }

    p {
      color: var(--Neutral-600, #6f6c90);
      font-feature-settings: "clig" off, "liga" off;
      max-width: 416px;
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      margin-bottom: 28px;
    }

    .product__container-inputs {
      display: flex;
      column-gap: 15px;
      margin-bottom: 25px;
      @media (max-width: 530px) {
        flex-direction: column;
        row-gap: 18px;
      }
      .product__container-input-name {
        border-radius: 46px;
        border: 1px solid var(--Neutral-300, #eff0f6);
        background: var(--Neutral-100, #fff);
        width: 648px;
        height: 43px;
        padding: 11.5px 28px;
        flex-shrink: 0;
        box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
        @media (max-width: 1230px) {
          max-width: 400px;
        }
        @media (max-width: 768px) {
          max-width: 250px;
        }
      }
    }

    .product__container-input-price {
      color: var(--Neutral-600, #6f6c90);
      padding: 11.5px 28px;
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 111.111% */
      width: 218.951px;
      height: 43px;
      flex-shrink: 0;
      border-radius: 46px;
      border: 1px solid var(--Neutral-300, #eff0f6);
      background: var(--Neutral-100, #fff);
      box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
      @media (max-width: 530px) {
        width: 250px;
      }
    }

    .product__container-input-area {
      padding: 22px 38px 80px;
      max-width: 882px;
      height: 122px;
      flex-shrink: 0;
      border-radius: 20px;
      border: 1px solid var(--Neutral-300, #eff0f6);
      background: var(--Neutral-100, #fff);
      box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
      margin-bottom: 19px;
    }
    .product__container-button {
      margin-bottom: 36px;
      display: flex;
      justify-content: center;
    }

    .product__container-img {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 28.6px;
      row-gap: 25px;
      flex-wrap: wrap;
      @media (max-width: 428px) {
        align-items: center;
        justify-content: center;
      }

      button {
        width: 160px;
        height: 8px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: 1px solid #e0e1e2;
        width: 160.238px;
        height: 126px;
        color: var(--Gray-Gray-500, #718096);
        font-family: Helvetica;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 16.8px */
        img {
          width: 17.855px;
          height: 20px;
          flex-shrink: 0;
        }
      }
    }

    .product__container-send-button {
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 142px;
      @media (max-width: 768px) {
        margin-top: 50px;
      }
    }
  }
}
