<section class="slider">
  <div class="slider-item_container _container">
    <div class="slider-item">
      <img class="slider-item__shape-img" src="/img/shape.png" alt="img" />
      <p>
        We will also facilitate the business marketing of these products with
        our SEO experts so that they become a ready to use website & help sell
        product from company
      </p>
      <div class="slider-item__user-block">
        <img
          class="slider-item__user-img"
          src="/img/userslider.png"
          alt="img"
        />
        <ul>
          <li>Salim Ahmed</li>
          <li>UI Designer</li>
        </ul>
      </div>
    </div>
    <div class="slider-item">
      <img class="slider-item__shape-img" src="/img/shape.png" alt="img" />
      <p>
        We will also facilitate the business marketing of these products with
        our SEO experts so that they become a ready to use website & help sell
        product from company
      </p>
      <div class="slider-item__user-block">
        <img
          class="slider-item__user-img"
          src="/img/userslider.png"
          alt="img"
        />
        <ul>
          <li>Salim Ahmed</li>
          <li>UI Designer</li>
        </ul>
      </div>
    </div>
    
    <div class="slider-item">
      <img class="slider-item__shape-img" src="/img/shape.png" alt="img" />
      <p>
        We will also facilitate the business marketing of these products with
        our SEO experts so that they become a ready to use website & help sell
        product from company
      </p>
      <div class="slider-item__user-block">
        <img
          class="slider-item__user-img"
          src="/img/userslider.png"
          alt="img"
        />
        <ul>
          <li>Salim Ahmed</li>
          <li>UI Designer</li>
        </ul>
      </div>
    </div>
    <div class="slider-item">
      <img class="slider-item__shape-img" src="/img/shape.png" alt="img" />
      <p>
        We will also facilitate the business marketing of these products with
        our SEO experts so that they become a ready to use website & help sell
        product from company
      </p>
      <div class="slider-item__user-block">
        <img
          class="slider-item__user-img"
          src="/img/userslider.png"
          alt="img"
        />
        <ul>
          <li>Salim Ahmed</li>
          <li>UI Designer</li>
        </ul>
      </div>
    </div>
    <div class="slider-item">
      <img class="slider-item__shape-img" src="/img/shape.png" alt="img" />
      <p>
        We will also facilitate the business marketing of these products with
        our SEO experts so that they become a ready to use website & help sell
        product from company
      </p>
      <div class="slider-item__user-block">
        <img
          class="slider-item__user-img"
          src="/img/userslider.png"
          alt="img"
        />
        <ul>
          <li>Salim Ahmed</li>
          <li>UI Designer</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="slider__container _container">
    <button><img src="/img/arrowleft.png" alt="img" /></button>
    <button><img src="/img/arrowright.png" alt="img" /></button>
  </div>
</section>
