<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__top">
      <div class="footer__logos">
        <img src="img/logo.png" alt="img" />
        <p>
          We turn manufacturers' dreams into reality, from Amazon listing to
          logistics management and creation LLC in USA. Let us take care of all
          the details!
        </p>
      </div>
      <div class="footer__top-title">
        <div >
          <h2>Company</h2>
          <ul>
            <li>About Us</li>
            <li>Blog</li>
            <li>All Products</li>
            <li>Locations Map</li>
          </ul>
        </div>
        <div >
          <h2>Services</h2>
          <ul>
            <li>Order tracking</li>
            <li>Wish List</li>
            <li>My account</li>
            <li>Terms & Conditions</li>
          </ul>
        </div>
        <div>
          <h2>Get in Touch</h2>
          <span
            >Subscribe to our weekly Newsletter and receive updates via
            email.</span
          >
        </div>
      </div>
    </div>
    <div class="footer__top-border"></div>
    <div class="footer__info">
      <p>All Rights Reserved <span>@ baazardeals 2021</span></p>
      <div >
        <span>Terms & Conditions</span>
        <span>Privacy & Policy</span>
      </div>
    </div>
    <div class="footer__bottom">
      <img src="img/apple.png" alt="apple" />
      <img src="img/ups.png" alt="ups" />
      <img src="img/amazon.png" alt="ups" />
      <img src="img/dhl.png" alt="ups" />
      <img src="img/fedex.png" alt="ups" />
    </div>
  </div>
</footer>
