<section class="subscribe">
  <div class="subscribe__container _container">
    <p>NEWSLETTER</p>
    <h2>Subscribe for offers and updates!</h2>
    <div class="subscribe__container-input">
        <input type="text" placeholder="Your email and you're ready" />
        <button>Subscribe</button>
        <img class="subscribe__container-input_polygon" src="/img/polygon.png" alt="img" />
        <img class="subscribe__container-input_ellipse" src="/img/ellipsesub.png" alt="img">
    </div>
  </div>
</section>
